@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Thank You For Shopping</h2>
<br /><br />



<a class="fancybox" title="Thank You For Shopping" href="~/Images/thankYou.jpg"> 
    <img width="300" height="300" src="~/Images/thankYou.jpg">
</a>
