@{
    ViewBag.Title = "confirmUpload";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Confirm Upload</h2>
<table>
<tr>

    <td><a class="navbar-brand" href="~/Admin/Index">Admin Home</a><br /><br /><br /></td>
    <td></td>

    </tr>

    </table>