@model List<Sannan_EAD_Shop.Models.login>
@{
    ViewBag.Title = "deleteUser";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<br /><br />
<h2>Delete User Account</h2>
<br /><br /><br />

    <div class="col-md-9">
                <div class="row">

<table>
    <tr>
        <td><a class="navbar-brand" href="~/Admin/Index">Admin Home</a><br /><br /><br /></td>
        <td></td>
    </tr>


    <tr>
        <td>

                    
                    @foreach(var x in Model)
                    {
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <a id="single_1" href="@x.path.ToString()" title="Picture">
                                    <img  src="@x.path.ToString()" style="width:600px;height:195px" alt=""/>
                                    </a>
                                    <div class="caption">
                                        <h4><a href="#">@x.username.ToString()</a></h4>
                                    </div>
                                    

                            <div class="form-group">
                                <a class="btn btn-primary btn-lg btn-block" href="~/Account/confirmDeleteUser?username=@x.username.ToString()">Delete Account</a>
                            </div>

                                </div>
                            </div>
                        }
                    
              
        </td></tr>
</table>

                      </div>
        </div>