@{
    ViewBag.Title = "contact";
    if (ViewBag.x != null)
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Contact</h2>

<table>
    <tr>

    <td><a class="navbar-brand" href="~/Home/Index">Home</a><br /><br /><br /></td>
    <td></td>

    </tr>
    <tr>
        <td></td>
    
        <td><h2>Technical Support</h2><br /> If you are having difficulty using any of our services, our self-service Support is available 24/7. We are always available for you.</td>
        </tr>

    <tr>
        <td></td>
    
        <td><h2></h2><br /></td>
        </tr>
   
        
</table>

<table border="1">
    <tr>
        <td><b>Name:</b></td>
    
        <td> M. Sannan Khurshid</td>
        
    </tr>

    <tr>
        <td><b>Contact No. : &nbsp;&nbsp;&nbsp;</b></td>
    
        <td> +92-333-4117889</td>
        
    </tr>

    <tr>
        <td><b>Send Email:</b></td>
    
        <td> sannan_khurshid@hotmail.com</td>
        
    </tr>

</table>