@model List<Sannan_EAD_Shop.Models.upload>
@{
    if (ViewBag.x != null)
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "Mens Clothes - Shirts";
}

<script>
    $(document).ready(function () {
        
        $("#single_1").fancybox({
            
            helpers: {
                title: {
                    type: 'float'
                }
            }
        });
    });
</script>

<h1>Mens Shirts</h1>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img style="height:300px" class="slide-image" src="~/Images/shirt.jpg"  alt="">
                                </div>

                                <div class="item">
                                    <img style="height:300px" class="slide-image" src="~/Images/shirt1.jpg"  alt="">
                                </div>

                                <div class="item">
                                    <img style="height:300px" class="slide-image" src="~/Images/shirt2.jpg"  alt="">
                                </div>
                                <div class="item">
                                    <img style="height:300px" class="slide-image" src="~/Images/shirt3.jpg"  alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">


                    
                    @foreach(var x in Model)
                    {
                        if(x.category.Equals("Men's Shirt"))
                        {
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <a id="single_1" href="@x.path.ToString()" title="Picture">
                                    <img  src="@x.path.ToString()" style="width:260px;height:195px" alt=""/>
                                    </a>
                                    <div class="caption">
                                        <h4><a href="#">@x.name.ToString()</a></h4>
                                         <h4 >@x.price.ToString() Rs.</h4>

                                    </div>
                                    
                                    <div class="form-group">
                                        @*<input type="button" class="btn btn-primary btn-lg btn-block" value="Add To Cart" />*@
                                        <a class="btn btn-primary btn-lg btn-block" href="~/Admin/addToCart?itemName=@x.name.ToString()">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }




                </div>
            </div>